<!doctype html>
<html lang="en" class="no-js"> 
	<title><%= project.name().capitalize() %></title>
  <meta charset="utf-8">
  <%= project.scriptIncludes() %>
  <%= project.stylesheetIncludes() %>
</head>

<body>
  Hello!
</body>
</html>