<!doctype html>
<html lang="en" class="no-js">
  <title><%= project.name().capitalize() %></title>
  <meta charset="utf-8">
  <%= project.stylesheetIncludes() %>
  <%= project.scriptIncludes() %>
</head>

<body>
  Hello world.

  <script>
    window.app = new Application;

    $(document).ready(function(){
      app.start();
    });
  </script>
</body>
</html>
