<!doctype html>
<html lang="en" class="no-js"> 
	<title><%= project.name().capitalize() %></title>
  <meta charset="utf-8">
  <%= project.stylesheetIncludes() %>
  <%= project.scriptIncludes() %>
</head>

<body>
  Hello world.
  
  <script>
    $(document).ready(function(){
      window.app = new Application;
    });
  </script>
</body>
</html>