<!doctype html>
<html lang="en">
<head>
  <title>Jasmine Test Runner</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="jasmine/jasmine.css">
  <script type="text/javascript" src="jasmine/jasmine.js"></script>
  <script type="text/javascript" src="jasmine/jasmine-html.js"></script>
  <%= project.scriptIncludes() %>
  <%= project.specIncludes() %>
</head>
<body>

<script type="text/javascript">
  jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
  jasmine.getEnv().execute();
</script>

</body>
</html>
