<!doctype html>
<html lang="en" class="no-js"> 
<head>
  <meta charset="utf-8">
	<title><%= project.name().capitalize() %> Test Suite</title>

	<link rel="stylesheet" media="screen" href="qunit.css" type="text/css"/>
	<script src="qunit.js"></script>

  <!-- application -->
  <%= project.scriptIncludes() %>
  
  <!-- tests -->
  <%= project.testScriptIncludes() %>
</head>

<body>
  <h1 id="qunit-header"><%= project.name().capitalize() %> test suite</h1>
  <h2 id="qunit-banner"></h2>
  <div id="qunit-testrunner-toolbar"></div>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
  <div id="qunit-fixture">test markup, will be hidden</div>
</body>
</html>